/* key animation */
::selection{
    background-color:black;
    color:white;
}

.key:hover{
    color:black;
}
.key:hover .arrow{
    margin-bottom: 15px;
    opacity:1;
}

/* link animation of hero 2 */
.link:hover .underline{
    opacity:1;
    width:100%;
}